.forn-build-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.form-components {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
  background-color: #fff;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.main-box,
.placeholder-box {
  padding: 15px;
  border: solid 1px #ccc;
  cursor: move;
  background: white;
  font-size: 14px;
  text-align: center;
  border-radius: 11px;
}

.builder-container {
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  width: 147px !important;
  border: solid 1px #ccc !important;
}
.cdk-drag-placeholder {
  min-height: 50px;
  border-radius: 4px;
  background-color: #c2c2c2;
}
.placeholder-box {
  display: none;
  pointer-events: none;
}
.form-list .cdk-drop-list-receiving,
.form-list .cdk-drop-list-dragging {
  .main-box {
    display: none;
  }
  .placeholder-box {
    display: block;
  }
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.main-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .main-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
